extends layout

block content
    .container-fluid
        .span3
            h4= title
                each row in tasks
                    li= row.nvc_notebook_name
        .span9
            textarea