extends layout

block content
    .container-fluid
        .span3
            | Test If origin remote works for azure deploy
            h4= title
                each row in tasks
                    li= row.nvc_notebook_name
        .span9
            textarea