doctype 5
html
  head
    title= title
    meta(http-equiv='X-UA-Compatible', content='IE=10')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
  body(class='app')
    div(class='navbar navbar-fixed-top')
      .navbar-inner
        .container
          a(class='brand', href='/') My Notebooks
    .container!= body