extends layout

block content
  include navbar
  .container.article
    h1.text-left= article.Title
    div.article-info
      a.small.notebook
        i.img.notebook
        | Published at #{article.NotebookName}
      span.time #{article.LastUpdatedDate}
    p.text-left!= article.Preview
    hr