extends layout

block content
  .container
    h3.text-left= title
    p.lead.text-left!= content
    ul.block-inline
      li
        |NoteBook:
        a= notebook
      li.right
        p.small Last Modified Time: #{lastUpdatedDate}