div.list-group.articles
  each item in items
    a.list-group-item(href='javascript:void(0)', id='#{item._id}')
      h4.list-group-item-heading #{item.Title}
      p.list-group-item-text #{item.Abstract}