extends layout

block content
  include navbar
  .container
    .col-2.sidebar
      .row
        h3 Notebooks:
        ul.notebooks.row
          each notebook in notebooks
            li.col-4
              a.notebook
                h5= notebook.name
    .col-9.col-lg-offset-1#article-list

block scripts
  script(src='/js/views/index.js')
