extends layout

block content
  .container-fluid
    .row-fluid
      .span2
        .container
          .row-fluid
            .row
              h4 #{user.user}
              a(href='/Settings') Edit Profile
              p.small Wrote 506 words
            .row
              h4= title
              each row in tasks
                a= row.nvc_notebook_name
      .span7.offset1#article-list

block scripts
  script(src='/js/views/index.js')
