!!!html
html
  head
    title= title
    meta(http-equiv='X-UA-Compatible', content='IE=10')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/vendor/bootstrap.min.css')
    script(src='/vendor/jquery.min.js')
    script(src='/vendor/jquery.form.js')
    //script(src='/vendor/bootstrap.min.js')
    script(src='/vendor/bootstrap-modal.js')
    script(src='/vendor/bootstrap-transition.js')
    script(src='/vendor/bootstrap-tooltip.js')
    script(src='/js/views/global.js')
  body(class='app')

    // store the userId on the client side in a hidden input field //
    if user != null
      input(type='hidden', value= user._id)#userId
    block define
    div(class='navbar navbar-fixed-top navbar-inverse')
      .container
        button(type='button', class='navbar-toggle', data-toggle='collapse', data-target='.bs-navbar-collapse')
          .span(class='icon-bar')
          .span(class='icon-bar')
          .span(class='icon-bar')
        a(class='navbar-brand', href='/') Write Everywhere
        div(class="nav-collapse collapse bs-navbar-collapse")
          if user != null
            p(class="navbar-text pull-right")
              |Hello,
              a(href="/Settings",class="navbar-link") #{user.user}
              a(href="/SignOut",class="navbar-link")   Sign Out
            ul(class="nav pull-right")
              li
                if (pagemode && (pagemode.toLowerCase() == 'writer'.toLowerCase()))
                  a(href="/home")
                    i.img.reader
                    |Reader's Page
                else
                  a(href="/Writer")
                    i.img.writer
                    |Writer's Page
    block content
    block scripts