!!!html
html
  head
    title= title
    meta(http-equiv='X-UA-Compatible', content='IE=10')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/vendor/bootstrap.min.css')
  body(class='app')
    div(class='navbar navbar-fixed-top navbar-inverse')
      .navbar-inner
        .container-fluid
          button(type='button', class='btn btn-navbar', data-toggle='collapse', data-target='.nav-collapse')
            .span(class='icon-bar')
            .span(class='icon-bar')
            .span(class='icon-bar')
          a(class='brand', href='/') Write Everywhere

          div(class="nav-collapse collapse")
            p(class="navbar-text pull-right")
              |Hello,
              a(href="/Settings",class="navbar-link") Vicancy
            ul(class="nav")
              li(class="active")
                a(href="/") Home
              li
                a(href="/Writer") Writer
    block content