extends layout

block content
  .container-fluid
    .row-fluid
      .span2.aside
        ul.nav.nav-list.ui-sortable
          each notebook in notebooks
            li
              a= notebook.name
      .span2.middle#article-list
        ul
          li Article 1
          li Article 2
      .span7.main#article-content
        textarea Content here