input(type='hidden', value=selectedArticleId)#selectedArticleId
- article = article !== undefined ? article : { }
.container.writing-control
  input(type="text", placeholder="Title")#article-title= article.Title
  ul.writing-controller-list
    li
      a(href="javascript:void(0)", title="Normal Mode").go-normal
        i.icon-normal-mode
    li
      a(href="javascript:void(0)", title="Preview Mode").go-preview
        i.icon-preview-mode
    li
      a(href="javascript:void(0)", title="Writing Mode").go-writing
        i.icon-writing-mode
    li
      a(href="javascript:void(0)", title="FullScreen Mode").go-fullscreen
        i.icon-fullscreen-mode
  .col-6#content-container.splitter
    textarea#article-content(placeHolder="Type your article here with markdown syntax")= article.Content
  .col-6#preview-container
    div#article-preview!= article.Preview

block scripts
  script(src='/vendor/marked.js')
  script(src='/js/views/writing-control.js')
  link(rel='stylesheet', href='/vendor/font-awesome.min.css')