extends layout
block content
  input(type='hidden', value=selectedNotebookId)#selectedNotebookId
  .container-fluid
    .row-fluid
      .span2.aside
        a(href='javascript:void(0)') + Add Notebook
        ul.nav.nav-list.ui-sortable
          each notebook in notebooks
            li
              a(href='javascript:void(0)', onclick='setArticleSelected(#{notebook._id});loadArticles(#{notebook._id});')= notebook.name
      .span2.middle
        a(href='javascript:void(0)', onclick='newArticle(#{selectedNotebookId})') + Write An Article
        div#article-list
      .span4
        textarea#article-content
      .span4#article-preview

block scripts
  script(src='/vendor/marked.js')
  script(src='/js/views/writer.js')