extends layout

block content
  .container-fluid
    .row-fluid
      .span2.aside
        ul.nav.nav-list.ui-sortable
          each notebook in notebooks
            li
              a(href='javascript:void(0)', onclick='loadArticles(#{notebook._id});')= notebook.name
      .span2.middle#article-list
      .span4
        textarea#article-content
      .span4#article-preview

block scripts
  script(src='/vendor/marked.js')
  script(src='/js/views/writer.js')