input(type='hidden', value=selectedArticleId)#selectedArticleId
- article = article !== undefined ? article : { }
.container
  input(type="text")#article-title= article.Title
  .row
    .col-6#content-container
      textarea#article-content= article.Content
    .col-6#preview-container
      div#article-preview!= article.Preview

block scripts
  script(src='/vendor/marked.js')
  script(src='/js/views/writing-control.js')
