body {
  padding: 80px 0px 0px 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.navbar .nav-collapse ul.nav>li>a {
  color: #eee;
  padding: 8px;
  margin: 7px;
}

.navbar .nav-collapse .nav>li>a:hover {
  background-color: #444;
  border-radius: 3px;
}

#article-content {
  width: 100%;
  min-height: 600px;
}

/* Signup Page */
.form-group.error input{
  border: 1px solid #b94a48;
}

/* Ending Signup Page */

/* Login Page */
.form-group.form-group-login {
  margin-bottom: 60px;
}

/* Ending Login Page */


.nav i.img {
  background-image: url(background.png);
  background-size: auto;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: -2px;
  margin-right: 5px;
}

.nav i.img.writer {
  width: 13px;
  height: 15px;
  background-position: -119px -192px;
}

.nav i.img.reader {
  width: 13px;
  height: 15px;
  background-position: -119px -192px;
}