body {
  padding: 80px 0px 0px 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.container h3 {
  font-size: 20px;
}

.navbar .nav-collapse ul.nav>li>a {
  color: #eee;
  padding: 8px;
  margin: 7px;
}

.navbar .nav-collapse .nav>li>a:hover {
  background-color: #444;
  border-radius: 3px;
}

#article-content {
  width: 100%;
  min-height: 600px;
}

/* Signup Page */
.form-group.error input{
  border: 1px solid #b94a48;
}

/* Ending Signup Page */

/* Login Page */
.form-group.form-group-login {
  margin-bottom: 60px;
}

/* Ending Login Page */

/* Layout Page */

.container .sidebar {
  -webkit-border-image: -webkit-gradient(linear, right top, right bottom, from(#fff), color-stop(0.2, #A0C4E4), to(#fff)) 0 100% 0 0  stretch;
}

.container .splitter {
  -webkit-border-image: -webkit-gradient(linear, right top, right bottom, from(#fff), color-stop(0.2, #ddd), to(#fff)) 0 100% 0 0  stretch;
}
.g > div { background: #fff; }

/* Ending Layout Page */

/* Reading Page */
ul.notebooks {
  -webkit-padding-start: 0px;
}
ul.notebooks a:hover {
  text-decoration: none;
}

ul .notebook {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  font-weight: normal;
  position: relative;
  width: 56px;
  height: 80px;
  background-color: #68A2D4;
  -webkit-border-radius: 2px 6px 6px 2px;
  border-radius: 2px 6px 6px 2px;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.35);
  box-shadow: 0 1px 3px rgba(0,0,0,0.35);
  display: block;
  padding: 4px;
  line-height: 20px;
  border: 1px solid #ddd;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  list-style: none;
}

ul a.notebook:hover, ul a.notebook:focus {
  background-color: #3F89C9;
  -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.55);
  box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
  -webkit-transition: all 0.35s linear !important;
  -ms-transition: all 0.35s linear !important;
  -o-transition: all 0.35s linear !important;
  transition: all 0.35s linear !important;
}


ul .notebooks:before, ul .notebooks:after {
  display: table;
  content: "";
  line-height: 0;
}

ul .notebook h5 {
  white-space: normal;
  text-align: center;
  color: #fff;
  margin: 16px 0 0 0;
  font-family: "Times New Roman",Times,"Songti SC","SimSun",serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 20px;
  -webkit-transition: all 0.35s linear !important;
}

.article .article-info{
  margin: 20px 0px 20px 0px;
}

.article p {
  font-size: 18px;
}

/* Ending Reading Page */

/* Writing Page */

.list-group.articles a.list-group-item {
  border-left: none;
  border-right: none;
}

.list-group.articles a.list-group-item:hover {
  background-color: #fff;
  color: #398;
}

.list-group.articles a.list-group-item.active{
  background-color: #fff;
  color: #428bca;
}

.list-group.articles a.list-group-item.active .list-group-item-text{
  background-color: #fff;
  color: #2F6EA5;
  font-style: oblique;
}

.list-group.articles a.list-group-item.active .list-group-item-heading{
  font-weight: bold;
}

a.list-group-item:first-child {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

input[type=text]#article-title {
  font-size: 18px;
  text-align: center;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  width: 100%;
  padding: 3px 0px 3px 3px;
  margin: 5px 0px 3px 0px;
  border: none;
  border-bottom: 1px solid #DDDDDD;
}

input[type=text]#article-title:focus {
  padding: 3px 0px 3px 3px;
  margin: 5px 0px 3px 0px;
  border: none;
  border-bottom: 1px solid rgba(81, 203, 238, 1);

}

.container.writing-control {
  padding: 10px;
  border-style: none;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.55);
  box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
  -webkit-transition: all 0.35s linear !important;
  -ms-transition: all 0.35s linear !important;
  -o-transition: all 0.35s linear !important;
  transition: all 0.35s linear !important;
}

textarea#article-content {
  border-style: none;

}

textarea#article-content:focus {
  border-style: none;
  outline: 0px none transparent;
}

div.add {
  font-style: italic;
  font-size: 12px;
  margin-bottom: 10px;
}

[class^="icon-"] {
  font-family: FontAwesome;
}

.icon-preview-mode:before {
  content : '\f0db';
}

.icon-fullscreen-mode:before {
  content : '\f065';
}

ul.writing-controller-list {
  display: inline;
  float : right;
  list-style : none;
  margin: 13px 0px 0px -85px;
  position: relative;
  z-index: 1;
}

ul.writing-controller-list > li {
  float : right;
  padding-right : 10px;
}

/* Ending Writing Page */

/* Article Section */


.time {
  font-size: 12px;
  margin-left: 20px;
}

.small.notebook {
  font-size: 12px;
}

.img.notebook {
  width: 14px;
  height: 15px;
  background-position: -110px -192px;
}
/* Ending Article Section */


.img {
  background-image: url(background.png);
  background-size: auto;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: -2px;
  margin-right: 5px;
}

.nav i.img.writer {
  width: 13px;
  height: 15px;
  background-position: -119px -192px;
}

.nav i.img.reader {
  width: 13px;
  height: 15px;
  background-position: -119px -192px;
}