.modal-alert.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        button.close(data-dismiss='modal', aria-hidden="true") &times;
        h3
      .modal-body
        p
      .modal-footer
        button(data-dismiss='modal')#ok.btn-warning OK