.modal-form-errors.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        button.close(data-dismiss='modal', aria-hidden="true") &times;
        h4.modal-title Whoops
      .modal-body
        p There seems a problem
      .modal-footer
        button(data-dismiss='modal')#ok.btn-warning Return